@{
    Layout = "_Layout";
}
@model IQueryable<Article>
<div id="home">
    <!-- Start cSlider -->
    <div id="da-slider" class="da-slider">
        <div class="triangle"></div>
        <!-- mask elemet use for masking background image -->
        <div class="mask"></div>
        <!-- All slides centred in container element -->
        <div class="container">
            <!-- Start first slide -->
            <div class="da-slide">
                <h2 class="fittext2">Welcome to @Config.ProjectName</h2>
                <h4>By MBYTE2000</h4>
                <p>text text text text text text text text text text text text text text text text <br /></p>
                
                @if (ViewBag.IsSignIn)
                {
                    <h5>Hello @User.Identity.Name</h5>
                    <a asp-controller="Account" asp-action="Logout" asp-route-returnUrl="/" class="da-link button">Logout</a>
                }
                else
                {
                    <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="/" class="da-link button">Login</a>
                }
            </div>
        </div>
    </div>
</div>

<div id="home">
    <!-- Start cSlider -->
    
            <!-- End first slide -->
            <!-- Start second slide -->
            <div class="da-slide">
                <h2>Easy management</h2>
                <h4>Easy to use</h4>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <a href="#" class="da-link button">Read more</a>
                <div class="da-img">
                    <img src="images/Slider02.png" width="320" alt="image02">
                </div>
            </div>
            <!-- End second slide -->
            <!-- Start third slide -->
            <div class="da-slide">
                <h2>Revolution</h2>
                <h4>Customizable</h4>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                <a href="#" class="da-link button">Read more</a>
                <div class="da-img">
                    <img src="images/Slider03.png" width="320" alt="image03">
                </div>
            </div>
            <!-- Start third slide -->
            <!-- Start cSlide navigation arrows -->
            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </div>
            <!-- End cSlide navigation arrows -->
        </div>
    </div>
</div>
<!-- End home section -->
<!-- Service section start -->
<div class="section primary-section" id="service">
    <div class="container">
        <!-- Start title section -->
        <div class="title">
            <h1>Last Articles</h1>
        </div>
        <div class="row-fluid">
            @foreach(var article in Model.OrderBy(x => x.DateOfCreate))
            {
            <div class="span4">
                <div class="centered service">
                    <div class="circle-border zoom-in">
                        <a asp-controller="Home" asp-action="View" asp-route-id="@article.Id">
                            <img class="img-circle circle-border" src="images/@article.Image" alt="нет изображения">
                        </a>
                    </div>
                    <h3>@article.Title</h3>
                    @article.Title
                </div>
            </div>
            }
        </div>
    </div>
</div>
<!-- Service section end -->


@*<!-- Newsletter section start -->
<div class="section third-section">
    <div class="container newsletter">
        <div class="sub-section">
            <div class="title clearfix">
                <div class="pull-left">
                    <h3>Newsletter</h3>
                </div>
            </div>
        </div>
        <div id="success-subscribe" class="alert alert-success invisible">
            <strong>Well done!</strong>You successfully subscribet to our newsletter.
        </div>
        <div class="row-fluid">
            <div class="span5">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
            <div class="span7">
                <form class="inline-form">
                    <input type="email" name="email" id="nlmail" class="span8" placeholder="Enter your email" required />
                    <button id="subscribe" class="button button-sp">Subscribe</button>
                </form>
                <div id="err-subscribe" class="error centered">Please provide valid email address.</div>
            </div>
        </div>
    </div>
</div>
<!-- Newsletter section end -->*@
